name: CI - Train and save the model
on: 
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  matrix-pip:
    name: train and save the model
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [3.11, 3.12]
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup python
        uses: actions/setup-python@v4
        with: 
          python-version: ${{matrix.python}}
      - name: upgrade pip
        run: python -m pip install --upgrade setuptools wheel
      - name: install project dependencies
        run: python -m pip install -r requirements.txt
      - name: train the model
        run: |
          python train.py
          ls -la artifacts
      - name: upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ml-artificats-${{setup.python}}-${{github.run_id}}
          path: artifacts



